@font-face {
  font-family: "bebas";
  src: url("/BebasNeueRegular.ttf");
}
*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

header {
  overflow: auto;
  background-color: black;
  margin-bottom: 50px;
  padding: 5px 0;
}

h1 {
  font-family: "bebas";
  font-size: 62px;
}

.site-name {
  color: white;
  font-size: 28px;
  padding-left: 30px;
  font-family: bebas;
}

.nav {
  padding-right: 30px;
  margin-top: 5px;
}
.nav ul, a {
    color: white;
    text-decoration: none;
}

.nav li {
  display: inline;
  padding: 0 5px;
  font-family: "bebas";
}



.html5-video-player {
    height: 50em !important;
  }
iframe {
    height: 50em !important;
}

.ytp-title-link, .ytp-title-channel-name {
  display: none;
}
