@font-face {
  font-family: "bebas";
  src: url("/BebasNeueRegular.ttf");
}
*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

header {
  overflow: auto;
  background-color: black;
  margin-bottom: 50px;
  padding: 5px 0;
}

h1 {
  font-family: "bebas";
  font-size: 62px;
}

h3 {
  font-family: "bebas";
  font-size: 28px;
}
}

p {
  font-size: 18px;
  font-family: serif;
  font-weight: 100;
}

input {
  width: 150px;
  height: 15px;
  border: 1px solid black;
  color: black;
  padding: 3px 6px;
}

.site-name {
  color: white;
  font-size: 28px;
  padding-left: 30px;
  font-family: bebas;
}

.nav {
  padding-right: 30px;
  margin-top: 5px;
}
.nav ul, a {
    color: white;
    text-decoration: none;
}

.nav li {
  display: inline;
  padding: 0 5px;
  font-family: "bebas";
}



.html5-video-player {
    height: 50em !important;
  }
iframe {
    height: 50em !important;
}

.ytp-title-link, .ytp-title-channel-name {
  display: none;
}

.about {
  padding: 2% 7%;
}

.site-heading {
  margin-top: 10%;
}

.section-title {
  margin-top: 5%;
}

.guidelines {
  width: 500px;
  text-align: left;
  margin: auto;
  padding-top: 2%;
}

#uploadForm {
  padding-top: 2%;
}

#button {
  border: 1px black solid;
    background-color: black;
    color: white;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 400;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder {
   color: black;
}

::-moz-placeholder {
   color: black;
}

:-ms-input-placeholder {
   color: black;
}
